<div class="home-container">
  <div class="home-content-title">
    <h2 class="home-title">uBoard</h2>
  </div>
  <div class="home-content card">
    <div class="card-body">
      <form class="col-md-12" [formGroup]="singUpForm" (ngSubmit)="onSubmit()">
        <div class="content">
          <h3>Cadastre-se<span class="dot-detail">.</span></h3>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fas fa-user-circle"></i>
              </div>
              <input
                type="text"
                class="form-control"
                id="userInput"
                placeholder="Escolha seu login"
                formControlName="dS_Name"
              />
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fas fa-envelope"></i>
              </div>
              <input
                type="email"
                class="form-control"
                id="emailInput"
                placeholder="Escolha seu Email"
                formControlName="dS_Email"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fas fa-lock"></i>
              </div>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Escolha sua senha"
                formControlName="dS_Password"
              />
            </div>
          </div>
          <div class="align-self-center w-100">
            <button type="submit" class="btn btn-orange mb-3">Salvar</button>

            <p>
              Já é usuario? <a routerLink="/signIn" href="/signIn">Entrar</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
