$orange: #F15412;
$medium-black:#393E46;
$ligth-black:#4B5D67;
$ligh-blue:#DBDFFD;
$medium-blue: #1363DF;
$green: #36AE7C;

.home-title{
  color: $orange;
  font-family: 'Poppins', sans-serif;
  font-weight: 750;
  margin: 0;
}

.home-container{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.home-content-title{
  width: 30%;
}
.home-content{
  width: 30%;
  height: 50%;
  border-radius: 0;
  box-shadow: 0px 8px 5px #B1BCE6;
}

.card{
  border-radius: 0;
}

.dot-detail{
  color: $orange;
}
input{
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}
button{
  font-family: 'Poppins', sans-serif;
  align-self: center;
  color: #FFF;
  width: 100%;
}

.btn-orange{
  background-color: $orange;
}

.content{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 400px;
  align-self: center;
  padding: 10px 10%;

  a{
    color: $medium-blue;
    cursor: pointer;
  }
}
