$orange: #F15412;

.card{
    box-shadow: 0px 8px 5px #B1BCE6;
    border-radius: 13px;
}

.card-title{
    color: $orange;
    font-family: 'Poppins', sans-serif;
    font-weight: 750;
    margin: 0;
  }
