<div class="card border-light mb-3">
    <div class="card-body p-3">
        <div class="card-title d-flex flex-row justify-content-between">
            <h4> {{org.name || "Nome da Organização"}} </h4>
            <i class="fas fa-pen"></i>
        </div>
        <h6 class="card-text p-1"> {{org.groups || "Quant de Grups"}} Grupos</h6>
    </div>
</div>

