<div style="display: flex; flex-direction:column; align-items: center; justify-content: center;">
    <table class="table rounded p-5">
        <thead class="">
          <tr class="p-4">
            <th scope="col">Nome</th>
            <th scope="col">Organização</th>
            <th scope="col">Ações</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of groups" class="p-5">
            <td scope="row">
                <h5>
                    {{group.name}}
                </h5>
                
            </td>
            <td>{{group.organization}}</td>
            <td>Actions</td>
          </tr>
        </tbody>
    </table>
    
</div>
