.table{
    background-color: white;
    box-shadow: 0px 8px 5px #B1BCE6;
    border-radius: 15px;
}
thead{
    color:#F15412;
    border: none !important;
}

tbody{
    border-top: 1px solid lightgrey !important;
    color: rgb(68, 67, 67);
}