<app-nav></app-nav>

<div *ngIf="!OrganizationOrGroup">
  <div class="container my-5" *ngIf="hasOrganization">
    <div class="m-3 d-flex flex-row justify-content-between">
        <h3>Minhas organizações</h3>
        <button class="btn btn-orange btn25" data-bs-toggle="modal" data-bs-target="#CreateOrganization">
            Criar Organização
        </button>
    </div>
    <div class="container mt-5">
        <div class="row">
            <card-organization class="col-6" *ngFor="let organization of orgs" [org]="organization"></card-organization>

        </div>
    </div>
  </div>

  <div *ngIf="!hasOrganization" class="d-flex flex-column justify-content-center align-items-center" style="height: 800px;">
    <svg class="iconNoOrganization" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M506.3 417l-213.3-364c-16.33-28-57.54-28-73.98 0l-213.2 364C-10.59 444.9 9.849 480 42.74 480h426.6C502.1 480 522.6 445 506.3 417zM232 168c0-13.25 10.75-24 24-24S280 154.8 280 168v128c0 13.25-10.75 24-23.1 24S232 309.3 232 296V168zM256 416c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 401.9 273.4 416 256 416z"/></svg>
    <h3 class="m-3">Você ainda não possui organizações</h3>
    <button class="btn btn-orange btn25 m-3" data-bs-toggle="modal" data-bs-target="#CreateOrganization">
        Criar Organização
    </button>
  </div>
</div>


<!-- Seção de grupos  -->

<div *ngIf="OrganizationOrGroup">
  <div class="container my-5" *ngIf="hasGroup">
    <div class="m-3 d-flex flex-row justify-content-between">
      <h3>Meus grupos</h3>
          <button class="btn btn-orange btn25" data-bs-toggle="modal" data-bs-target="#CreateGroup">
              Criar Grupo
          </button>
    </div>
    <div class="container mt-5">
        <div class="row">
          <app-card-groups></app-card-groups>

        </div>
    </div>
  </div>
  <div *ngIf="!hasGroup" class="d-flex flex-column justify-content-center align-items-center" style="height: 800px;">
    <svg class="iconNoOrganization" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M506.3 417l-213.3-364c-16.33-28-57.54-28-73.98 0l-213.2 364C-10.59 444.9 9.849 480 42.74 480h426.6C502.1 480 522.6 445 506.3 417zM232 168c0-13.25 10.75-24 24-24S280 154.8 280 168v128c0 13.25-10.75 24-23.1 24S232 309.3 232 296V168zM256 416c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 401.9 273.4 416 256 416z"/></svg>
    <h3 class="m-3">Você ainda não possui grupos</h3>
    <button class="btn btn-orange btn25 m-3" data-bs-toggle="modal" data-bs-target="#CreateGroup">
        Criar Grupo
    </button>
  </div>
</div>






<!-- Modal -->
<div class="modal fade" id="CreateOrganization" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Criar organização</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="createOrganizationform" (ngSubmit)="onCadastroOrganizacao()">
        <div class="modal-body">
            <div class="m-3 row">
                <label for="nome" class="col-form-label">Nome da organização</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="nameOrganization" class="form-control" name="nameOrganization" id="nome">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-orange ml-4">Salvar</button>

            </div>
          </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="CreateGroup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criar Grupo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="createGroupform" (ngSubmit)="onCadastroOrganizacao()">
      <div class="modal-body">
          <div class="m-3 row">
              <label for="nome" class="col-form-label">Nome do Grupo</label>
              <div class="col-sm-10">
                  <input type="text" formControlName="nameGroup" class="form-control" name="nameGroup" id="nome">
              </div>
            </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-orange">Salvar</button>
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
      </div>
      </form>
    </div>
  </div>
</div>
