$orange: #F15412;
$medium-black:#393E46;
$ligth-black:#4B5D67;
$ligh-blue:#DBDFFD;
$medium-blue: #1363DF;
$green: #36AE7C;

button{
    font-family: 'Poppins', sans-serif;    
    color: #FFF;
}

.btn25{
    width: 25%;
}

.btn-orange{
    background-color: $orange;
    
}
.iconNoOrganization{
    width: 5%;
    color: $orange;
}
.btn-light{
    color: black;
}