<app-nav></app-nav>
<div class="container my-5">
    <div class="d-flex justify-content-between my-3">
        <div>
            <h3>Organização 1</h3>
            <small><p>Gerencie sua organização</p></small>
        </div>
        <div>
            <i id="settings" class="fas fa-cog"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="d-flex justify-content-between my-3 barraMetade">
                <h4>Meu grupos</h4>
                <button class="btn btn-green">Adicionar</button>
            </div>
            
            <table class="table tabelaGrupos rounded">
                <thead>
                    <tr class="">
                        <th class="text-center py-3">Nome</th>
                        <th class="text-center py-3">Ações</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let group of groups">
                        <td class="text-center py-2">{{ group.nome }}</td>
                        <td class="text-center py-2"> <span><i class="fas fa-trash"></i></span>  </td>
                        <td class="text-center py-2"><button class="btn btn-sm btn-orange mx-2">Convidar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-between my-3 barraMetade">
                <h4>Milestones</h4>
                <button class="btn btn-green">Adicionar</button>
            </div>
            
            <table class="table tabelaMilestones rounded">
                <thead>
                    <tr class="">
                        <th class="text-center py-3">Nome</th>
                        <th class="text-center py-3">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let milestone of milestones">
                        <td class="text-center py-2">{{milestone.nome}}</td>
                        <td class="text-center py-2"> <span><i class="fas fa-trash"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
