$orange: #F15412;
$green: #36AE7C;

button{
    font-family: 'Poppins', sans-serif;    
    color: #FFF;
}

.fas{
    font-size: 27px;
    
}
#settings{
    color: black;
}

.btn-orange{
    background-color: $orange;
}
.btn-green{
    background-color: $green;
}

.table{
    background-color: white;
    width: 95%;
    box-shadow: 0px 8px 5px #B1BCE6;
    
}
.barraMetade{
    width: 95%;
}
thead{
    color:#F15412;
    border: none !important;
}

tbody{
    border-top: 1px solid lightgrey !important;
    color: rgb(68, 67, 67);
}