<div class="home-container">
  <div class="home-content-title">
    <h2 class="home-title">uBoard</h2>
  </div>
  <div class="home-content card">
    <div class="card-body">
      <form class="col-md-12" [formGroup]="singInForm" (ngSubmit)="onLogin()">
        <div class="content">
          <h3>Acesse sua conta<span class="dot-detail">.</span></h3>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fas fa-envelope"></i>
              </div>
              <input
                type="email"
                class="form-control"
                id="emailLoginInput"
                placeholder="Digite seu e-mail"
                formControlName="dS_Email"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fas fa-lock"></i>
              </div>
              <input
                type="password"
                class="form-control"
                id="PasswordLoginInput"
                placeholder="Digite sua senha"
                formControlName="dS_Password"
              />
            </div>
          </div>
          <div class="align-self-center w-100">
            <button type="submit" class="btn btn-orange mb-3">Login</button>

            <p>
              Não possiu conta?
              <a routerLink="/signUp" href="/signUp">Cadastre-se</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
