<nav class="navbar navbar-expand-lg styled-nav">
    <div class="container-fluid">
        <h2 class=" nav-title">uBoard</h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end row" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-evenly align-items-evenly col-3">
                <li class="nav-item mr-3">
                    <a class="nav-link" aria-current="page" href="#">Início</a>
                </li>
                <li class="nav-item dropdown mr-3">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Grupos &nbsp;<i class="fas fa-angle-down dropdown-arrow"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Meus grupos</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" href="#">Entrar em grupo</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mr-3">
                  <a class="nav-link " href="#" id="navbarDropdown" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      UserName &nbsp;<i class="fas fa-angle-down dropdown-arrow"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Sair</a></li>
                  </ul>
              </li>
            </ul>
        </div>
    </div>
</nav>
