$orange: #F15412;
$medium-black:#393E46;
$ligth-black:#4B5D67;
$ligh-blue:#DBDFFD;
$medium-blue: #1363DF;
$transparent-blue: #B1BCE6;
$green: #36AE7C;

.styled-nav{
  background-color: $ligh-blue;
  color: $medium-black;
  border-bottom: 1px solid $transparent-blue;

  a{
    text-decoration: none;
    color: $medium-black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  li.dropdown{
    display: flex;
    align-items: center;
    .dropdown-arrow{
      vertical-align: middle;
      color: $orange;
    }
      ul a{
        font-weight: 300;
      }
    }


  .nav-title{
    color: $orange;
    font-family: 'Poppins', sans-serif;
    font-weight: 750;
    margin: 0;
  }
}
