<app-nav></app-nav>
<div class="container my-5">
    <div class="d-flex justify-content-between my-3">
        <div>
            <h3>Milestone 1</h3>
            <small><p>Descrição milestone</p></small>
        </div>
        <div >
            <i id="settings" class="fas fa-cog"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="d-flex justify-content-between my-3 barraMetade" >
                <h4>Membros</h4>
                <button class="btn btn-green">Adicionar</button>
            </div>
            
            <table class="table tabelaGrupos rounded">
                <thead>
                    <tr>
                        <th class="text-center py-3">Nome</th>
                        <th class="text-center py-3">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of members">
                        <td class="text-center py-2">{{ member.nome }}</td>
                        <td class="text-center py-2"> <span><i class="fas fa-times"></i></span>  </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-between my-3 barraMetade">
                <h4>Issues</h4>
            </div>
            
            <table class="table tabelaMilestones rounded">
                <thead>
                    <tr class="">
                        <th class="text-center py-3">Nome</th>
                        <th class="text-center py-3">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let issue of issues">
                        <td class="text-center py-2">{{issue.nome}}</td>
                        <td class="text-center py-2"> <span><i class="far fa-clone"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
