/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$orange: #F15412;
$medium-black:#393E46;
$ligth-black:#4B5D67;
$ligh-blue:#DBDFFD;
$medium-blue: #1363DF;
$green: #36AE7C;

.btn-orange{
  background-color: $orange;
}
body{
  background-color: $ligh-blue;
  font-family: 'Poppins', sans-serif;
}

i{
  color: $orange;
}
